.loginContainer {
  display: flex;
  height: 100vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.title {
  width : 60vw;
}

.text {
  color: white;
  font-size: 2rem;
}

.text:hover {
  cursor: pointer;
  background: linear-gradient(to top, #db6b5c, #ecd189);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
}