.nav {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
}


.flex1 {
  flex: 1;
  text-align: center;

}
.flex2 {
  flex: 3;

}
.flex3 {
  flex : 6;
  text-align: right;
  /* text-align: center; */

}

.navButton {
  color: white;
  font-size: 2rem;
  margin: 2%;
  cursor: pointer;
}

.home {
  flex: 1;
  margin-right: 2%;
}