.side {
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  float: right;
  height: 92vh;
  width: 17vw;
  min-width: 150px;
  color: white;
}

.userContainer {
  display: flex;
  flex-direction: column;
  height: 45%;
}

.userTitle {
  border: 0.6rem white double;
  border-radius: 15px;

  /* background-color: #00babc; */
  height: 3.5vh;
  min-height: 40px;
  color: white;
  font-size: 1.7rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users {
  border: 0.6rem white double;
  border-radius: 15px;

  height: 100%;
  overflow-y: scroll;
  position: sticky;
  padding-left: 5%;
}

.userList {
  height: auto;
  width: fit-content;
  margin: 0.2rem 0;
  font-size: 1.25rem;
  cursor: pointer;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 55%;
}

.chatList {
  height: 100%;
}

.chatTiTle {
  border: 0.6rem white double;
  border-radius: 15px;
  /* background-color: #00babc; */
  height: 3.5vh;
  min-height: 40px;
  color: white;
  font-size: 1.7rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  border: 0.6rem white double;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 45.5vh;
  overflow-y: scroll;
  padding-left: 5%;
}

.messageContainer {
  width: 100%;
}

.myNick {
  height: auto;
  margin: 0.2rem 0;
  color: cadetblue;
}

.userNick {
  height: auto;
  margin: 0.2rem 0;
}

.messageList {
  height: auto;
  margin: 0.2rem 0;
  font-size: 1.25rem;
}

.directMessage {
  height: auto;
  margin: 0.2rem 0;
  color: purple;
  font-size: 1.25rem;
}

.sendMessage {
  width: 100%;
  min-width: 130px;
}
.message {
  height: 3rem;
  width: 75%;
  border: 0.6rem white double;
  background-color: transparent;
  /* border: 1px #00babc solid; */
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1.25rem;
  color: white;
}

.button {
  height: 3rem;
  width: 25%;


  /* border: 1px transparent solid; */
  border-color: transparent;

  box-sizing: border-box;
  background-color: transparent;
  
  color: white;
  font-size: 1rem;
  border: 0.6rem white double;
  border-radius: 10px;


}

.userlist-row {
  height: 2rem;
  margin-left: 1rem;
}
