.lobby {
  /* background-color: #500; */
  width: vw;
  height: 92vh;
  /* padding-left: 1%;
  padding-right: 1%; */
}

.channelListRow {
  display: block;
  border: 1px #00babc solid;
  color: black;
  height: 8vh;
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.rowFirstElement {
  flex: 1;
  height: 100%;
  background-color: #00babc;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowElseElement {
  flex: 2;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.blank {
  flex: 2;
}

#lobbyTitle {
  /* color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  padding-top: 2%; */
  /* color: #00babc; */
  text-shadow: -3px 3px #00babc, 0 3px #00babc, 3px 0 #00babc, 0 -3px #00babc;
  text-align: left;
  font-size: 10rem;
  font-weight: bold;
  margin-top: 1.5%;
  margin-left: 2rem;
  /* margin-right: 1%; */
  margin-bottom: 2rem;
  float: left;
  border: 1px white solid;
}

#gameStart {
  /* all: unset;
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #00babc;
  color: white; */

  all: unset;
  width: 12rem;
  height: 5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  /* background-color: #00babc; */
  color: white;
  margin-right: 2rem;
  
  font-size: xx-large;

  /* float: right; */
  border-style: double;
  border-width: 0.6rem;
  text-align: center;

}

/* .channelList::before{
  clear: left;

} */

.titleFrame{
  background-color: #00babc;
}

.channelList{
  color: white;
  /* margin: 2rem; */
  border: 0.6rem white double;
  /* height: 100%; */
  /* width: 100%; */
}