.user-info {
  padding: 2%;
  margin: 2%;
  padding-bottom: 0%;
  height: 27vh;
  display: flex;
  color: white;
  font-size: 1.7rem;
}

.user-info-line {
  height: 5vh;
  margin: 1%;
}
.user-label {
  font-weight: bold;
  width: 100%;
}
.cyanColor {
  color: cyan;
}
.redColor {
  color: red;
}
.greenColor {
  color: rgb(0, 255, 0);
}

.changeButton {
  all: none;
  height: 2rem;
  font-size: 1.25rem;
  color: white;
  border: 0.2rem white solid;
  border-radius: 7px;
  background-color: transparent;
}
.imageButton {
  margin-top: 5%;
  width: 17.5vh;
}
.nickButton {
  margin-left: 5%;
}

#user-info-left {
  flex: 2;
  text-align: left;
  overflow: hidden;
}
#user-info-right {
  flex: 5;
  text-align: left;
}

#user-avatar {
  height: 20vh;
  width: 17.5vh;
  object-fit: cover;
}

.user-info-right-top {
  height: 20vh;
}

.user-info-right-down {
  text-align: right;
}
