.game-area {
  margin: 2rem;
  margin-top: 0;

  width: 44vw;
  height: 90vh;
  color: white;
  border: 0.6rem white double;
  border-radius: 10px;
}

.player-game-area {
  align-items: center;
  width: 100%;
}
.game-setting-area {
  text-align: right;
  margin: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.player-info-area {
  display: flex;
}

.player {
  flex: 1;
  font-size: 1.7rem;
  text-align: center;
}
.player-name {
  font-weight: bold;
}

.game-content {
  text-align: center;
  position: relative;
}

.game-setting {
  all: unset;
  padding: 1%;
  margin: 1%;
  font-size: 1.25rem;
  color: white;
  border: 0.2rem white solid;
  border-radius: 10px;
}

#background-layer {
  position: absolute;
  top: 0;
  z-index: 0;
}
#game-layer {
  z-index: 1;
  position: relative;
}

#ping-message {
  margin: 1rem;
  font-size: 1.7rem;
}
#guide-message {
  margin: 4rem;
  margin-top: 2rem;
  /* align-items: center; */
  text-align: left;
  border: 0.2rem white solid;
  border-radius: 10px;
  padding: 1rem;
}
.guide-message-title {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.guide-message-content {
  font-size: 1.25rem;
}
