.game-area {
  width: 100%;
  height: 92vh;
  color: white;
}

.player-game-area {
  align-items: center;
  width: 100%;
}
.game-setting-area {
  text-align: right;
}
.player-info-area {
  display: flex;
}

.player {
  flex: 1;
  font-size: 1.7rem;
  text-align: center;
}
.player-name {
  font-weight: bold;
}

.game-content {
  text-align: center;
  position: relative;
}

.game-setting {
  all: unset;
  padding: 1%;
  margin: 1%;
  font-size: 1rem;
  color: white;
  border: 0.2rem white solid;
  border-radius: 10px;
}

#background-layer {
  position: absolute;
  top: 0;
  z-index: 0;
}
#game-layer {
  z-index: 1;
  position: relative;
}

#ping-message {
  font-size: 1.7rem;
}
#guide-message {
  text-align: left;
  border: 0.2rem white solid;
  border-radius: 10px;
}
.guide-message-title {
  font-size: 1.7rem;
}
